.imageContainer 
    position: relative
    height: 95vh 

.landingText 
    padding-top: 30vh
    padding-bottom: 40px
    font-weight: bold
    font-size: 3rem
    color: white
    text-align: center
    position: relative
    z-index: 1

.landingForm 
    font-weight: bold
    font-size: 1rem
    color: white
    position: relative
    z-index: 1

.landingImage 
    height: 500px
    object-position: 0px 60px


.sectionTitle
    padding: 25px 0px

.sectionFooter 
    padding-top: 30px
    margin-top: 30px
    border-top: 2px solid grey

.footerIconsContainer
    padding-bottom: 8px

.footerIcons 
    margin: 0px 5px