.content 
    display: flex 
    justify-content: center 
    align-items: center
    height: 80vh

.imageContainer
    display: flex 
    justify-content: center 
    align-items: center

.landingImage 
    border-radius: 10px

.formColumn
    display: flex 
    align-items: center
    justify-content: center

.formContainer
    width: 100%

.errors 
    color: red 
    font-weight: 500
    font-size: 20px
    
@media screen and (min-width: 768px)
    .signupContainer 
        border-right: 1px solid grey

