.content 
    display: flex 
    justify-content: center 
    align-items: center
    height: 67vh

.imageContainer
    display: flex 
    justify-content: center 
    align-items: center

.landingImage 
    border-radius: 10px

.formColumn
    display: flex 
    align-items: center
    justify-content: center

.formContainer
    width: 100%

.signupContainer 
    border-right: 1px solid grey

